.gantt_config {
    height: 250px !important;
    border-style: solid !important;
    overflow-y: auto !important;
}

.gantt_config div,
.gantt_config div textarea,
#bryntum-gantt {
    height: 100% !important;
    overflow-y: auto !important;
}

.fa-chart-gantt::before {
    background: url("../img/chart-gantt-solid.svg") no-repeat;
    content: "";
    width: 14px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    margin-right: 8px;
    background-position-y: 5px;
}
.width_button {
    width: 25px;
}

@media (min-width: 320px) {
    #bryntum-scheduler-component {
        height: 85% !important;
        overflow: auto;
    }
}

@media (min-width: 801px) {
    #bryntum-scheduler-component {
        height: 90% !important;
        overflow: auto;
    }
}

@media (min-width: 1801px) {
    #bryntum-scheduler-component {
        height: 95% !important;
        overflow: auto;
    }
}

#bryntum-scheduler-component {
    position: relative;
    flex: 1 1 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translate(0, 0);
    top: 0;
    left: 0;
}

[aria-hidden="true"],
[aria-hidden="1"] {
    display: unset !important;
}
